# SPDX-License-Identifier: GPL-2.0-only
config SND_SOC_ADI
	tristate "Audio support for Analog Devices reference designs"
	help
	  Audio support for various reference designs by Analog Devices.

config SND_SOC_ADI_AXI_I2S
	tristate "AXI-I2S support"
	depends on SND_SOC_ADI
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  ASoC driver for the Analog Devices AXI-I2S softcore peripheral.

config SND_SOC_ADI_AXI_SPDIF
	tristate "AXI-SPDIF support"
	depends on SND_SOC_ADI
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  ASoC driver for the Analog Devices AXI-SPDIF softcore peripheral.

config SND_SOC_A2B_AUDIO_GRAPH_CARD2
       tristate "A2B Audio Graph Card2 driver"
       depends on SND_AUDIO_GRAPH_CARD2
       help
         Generic ASoC driver for sound cards using Analog Devices A2B buses.
	 As well as supporting the same DT bindings as the Audio Graph Card2,
	 the driver supports conditional link and route creation based on the
	 state of the A2B bus after discovery.

	 Say Y or M if you are experimenting with A2B audio and want to build
	 a simple sound card.
