# SPDX-License-Identifier: GPL-2.0-only

menuconfig A2B
	tristate "Analog Devices A2B Support"
	depends on OF
	select REGMAP_A2B
	help
	  A2B support.

	  If unsure, say no.

if A2B

config A2B_AD24XX
	tristate "AD24XX Support"
	help
	  AD24xx support.

	  If unsure, say no.

endif
