# SPDX-License-Identifier: GPL-2.0-only

menuconfig A2B
	tristate "Analog Devices A2B Support"
	depends on OF
	select REGMAP_A2B
	help
	  A2B support.

	  If unsure, say no.

if A2B

config A2B_AD24XX
	tristate "AD24XX Support"
	help
	  AD24xx support.

	  If unsure, say no.

config A2B_BEO_SHAPE_NODE
	tristate "Bang & Olufsen Beosound Shape A2B node driver"
	depends on A2B_AD24XX
	help
	  Adds support for the AD2425-based Beosound Shape. The driver handles
	  firmware update of the STM32 MCU on the Shape board. After any
	  firmware update, the driver falls back to the behaviour of the generic
	  driver.

	  If unsure, say no.

endif
